# Movies Recommendation System

Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

C:\Users\hp\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

Importing dataset

In [2]:
movies_df = pd.read_csv("E:/Clg Documents/ML_Coursera/movies_dataset1/imdb_top_1000.csv")

Selecting only relevant columns

In [3]:
movies_df1 = movies_df[['Series_Title','Released_Year','Genre','IMDB_Rating']]

In [4]:
movies_df1.head()

               Series_Title Released_Year                 Genre  IMDB_Rating
0  The Shawshank Redemption          1994                 Drama          9.3
1             The Godfather          1972          Crime, Drama          9.2
2           The Dark Knight          2008  Action, Crime, Drama          9.0
3    The Godfather: Part II          1974          Crime, Drama          9.0
4              12 Angry Men          1957          Crime, Drama          9.0

Cheking for null values

In [5]:
movies_df1.isnull().sum()

Series_Title     0
Released_Year    0
Genre            0
IMDB_Rating      0
dtype: int64

Putting genres in a list

In [6]:
movies_df1['Genre'] = movies_df1.Genre.str.split(',')
movies_df1.head()

<ipython-input-6-a7130df02866>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df1['Genre'] = movies_df1.Genre.str.split(',')

,Series_Title,Released_Year,Genre,IMDB_Rating
0,The Shawshank Redemption,1994,[Drama],9.3
1,The Godfather,1972,"[Crime, Drama]",9.2
2,The Dark Knight,2008,"[Action, Crime, Drama]",9.0
3,The Godfather: Part II,1974,"[Crime, Drama]",9.0
4,12 Angry Men,1957,"[Crime, Drama]",9.0

Copying dataset

In [7]:
Genres_df = movies_df1.copy()

For every row, splitting up genres in different columns and inserting 1 for the genres existing for that row.

In [8]:
for index, row in movies_df1.iterrows():
    for genre in row['Genre']:
        Genres_df.at[index, genre] = 1

Adding 0 in the remaining genres columns

In [9]:
Genres_df = Genres_df.fillna(0)

In [10]:
Genres_df.head()

,Series_Title,Released_Year,Genre,IMDB_Rating,Drama,Crime,Drama,Action,Crime,Adventure,...,Western,Mystery,Horror,Musical,Film-Noir,Sport,Film-Noir,Fantasy,Family,Thriller
0,The Shawshank Redemption,1994,[Drama],9.3,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,The Godfather,1972,"[Crime, Drama]",9.2,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,The Dark Knight,2008,"[Action, Crime, Drama]",9.0,0.0,0.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,The Godfather: Part II,1974,"[Crime, Drama]",9.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,12 Angry Men,1957,"[Crime, Drama]",9.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Taking input of movies and rating from the user

In [11]:
userIp = [{'title':'Interstellar','rating':9},{'title':'Joker','rating':8.2},{'title':'Dangal','rating':8.5},{'title':'Avengers: Endgame','rating':9.5},{'title':'3 Idiots','rating':9.7}]
Ipmovies = pd.DataFrame(userIp)
Ipmovies

               title  rating
0       Interstellar     9.0
1              Joker     8.2
2             Dangal     8.5
3  Avengers: Endgame     9.5
4           3 Idiots     9.7

Selecting the rows from genres dataset which has movies from user input.

In [12]:
userMovies = Genres_df[Genres_df['Series_Title'].isin(Ipmovies['title'].tolist())]
userMovies

,Series_Title,Released_Year,Genre,IMDB_Rating,Drama,Crime,Drama,Action,Crime,Adventure,...,Western,Mystery,Horror,Musical,Film-Noir,Sport,Film-Noir,Fantasy,Family,Thriller
21,Interstellar,2014,"[Adventure, Drama, Sci-Fi]",8.6,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33,Joker,2019,"[Crime, Drama, Thriller]",8.5,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
57,Dangal,2016,"[Action, Biography, Drama]",8.4,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
59,Avengers: Endgame,2019,"[Action, Adventure, Drama]",8.4,0.0,0.0,1.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
64,3 Idiots,2009,"[Comedy, Drama]",8.4,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Resetting the index and keeping only genres columns

In [15]:
userMovies = userMovies.reset_index(drop=True)
userMovies = userMovies.drop(['Released_Year','Genre','Series_Title','IMDB_Rating'], axis=1)

In [16]:
userMovies

,Drama,Crime,Drama,Action,Crime,Adventure,Biography,History,Sci-Fi,Romance,...,Western,Mystery,Horror,Musical,Film-Noir,Sport,Film-Noir,Fantasy,Family,Thriller
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
Ipmovies['rating']

0    9.0
1    8.2
2    8.5
3    9.5
4    9.7
Name: rating, dtype: float64

In [18]:
userProfile = userMovies.transpose().dot(Ipmovies['rating'])
userProfile

Drama          0.0
Crime          8.2
 Drama        44.9
Action        18.0
 Crime         0.0
 Adventure     9.5
Biography      0.0
 History       0.0
 Sci-Fi        9.0
 Romance       0.0
Western        0.0
 Fantasy       0.0
Comedy         9.7
 Thriller      8.2
Adventure      9.0
Animation      0.0
 Family        0.0
 War           0.0
 Mystery       0.0
 Music         0.0
 Comedy        0.0
Horror         0.0
 Biography     8.5
 Action        0.0
 Western       0.0
Mystery        0.0
 Horror        0.0
 Musical       0.0
 Film-Noir     0.0
 Sport         0.0
Film-Noir      0.0
Fantasy        0.0
Family         0.0
Thriller       0.0
dtype: float64

In [20]:
GenreTable = Genres_df.drop(['Released_Year','Genre','Series_Title','IMDB_Rating'],axis=1)
GenreTable

,Drama,Crime,Drama,Action,Crime,Adventure,Biography,History,Sci-Fi,Romance,...,Western,Mystery,Horror,Musical,Film-Noir,Sport,Film-Noir,Fantasy,Family,Thriller
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
996,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
997,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
998,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
999,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

With the input's profile and the complete list of movies and their genres in hand, we're going to take the weighted average of every movie based on the input profile.

In [25]:
recommendationTable_df = ((GenreTable*userProfile).sum(axis=1))/(userProfile.sum())
recommendationTable_df

0      0.0000
1      0.4248
2      0.5032
3      0.4248
4      0.4248
        ...
995    0.4368
996    0.0000
997    0.0000
998    0.0000
999    0.1312
Length: 1000, dtype: float64

Creating a dataset of all movies and adding a column with values got from above recommendation_df.

In [22]:
rec_movies = movies_df1.copy()
rec_movies['values'] = recommendationTable_df

Presenting the recommended movies dataset in the descending order based on values.

In [23]:
rec_movies = rec_movies.sort_values('values',ascending=False)

In [26]:
rec_movies.head()

,Series_Title,Released_Year,Genre,IMDB_Rating,values
39,Gladiator,2000,"[Action, Adventure, Drama]",8.5,0.5792
10,The Lord of the Rings: The Fellowship of the Ring,2001,"[Action, Adventure, Drama]",8.8,0.5792
496,Letters from Iwo Jima,2006,"[Action, Adventure, Drama]",7.9,0.5792
625,Apocalypto,2006,"[Action, Adventure, Drama]",7.8,0.5792
898,Dawn of the Planet of the Apes,2014,"[Action, Adventure, Drama]",7.6,0.5792